.expense-header {
    background-color: #25384F;
    color: white;
    padding: 12px 25px;
    border-radius: 10px;
}

.categoriesWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 25px;
}

.expense-account-heading, .expense-account-sub-heading {
    display: flex;
    align-items: center;
    font-size: 24px;
    cursor: default;
}

.expense-account-sub-heading {
    display: flex;
    align-items: center;
    font-size: 24px;
    cursor: default;

    .account-amount-wrapper {
        height: 30px;
        display: flex;
        align-items: center;
        gap: 10px;
        img {
            height: 100%;
            width: 50px;
        }
    }
}