.da-account-form-details {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.da-account-form-balance,
.da-account-form-balance-frozen {
    padding: 5px 15px;
    font-size: 48px;
    font-weight: bold;
}

.da-account-form-balance {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    box-shadow: 0px 0px 7px 2px #228B22;
    // border: 2px solid #228B22;
    // border-radius: 5%;


    .da-account-form-balance-label {
        font-weight: bold;
        margin-right: 10px;
      }
      
      .da-account-form-balance-value {
        color: #228B22;

        
      }
  }
.da-account-form-balance-frozen {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    box-shadow: 0px 0px 7px 2px #22a9ca;
    // border: 2px solid #22a9ca;
    // border-radius: 5%;

    .da-account-form-balance-frozen-label {
        font-weight: bold;
        margin-right: 10px;
      }
      
      .da-account-form-balance-frozen-value {
        color: #22a9ca;

      }
  }
  


.da-account-form-name {

    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;

}

.da-account-form-card {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px #25384F;;
    border-radius: 10px;
}

.da-account-form-buttons {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;


}

.da-account-form-no-account {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: red;
}

.da-btn {

    background-color: #25384F;
    color: white;
    transition: transform 0.2s ease-in-out;

    // :hover {
    //     transform: scale(1.1);
    // }
}

