.da-amount-input {
    -moz-appearance: textfield;
    appearance: textfield;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px 12px;
    font-size: 16px;
    color: #333;
    width: 80%;
    box-sizing: border-box;

    ::placeholder {
        color: #666;

    }

    ::-webkit-inner-spin-button,
    ::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    ::-ms-clear {
        display: none;
    }

    :focus {
        outline: none;
        border-color: #4D90FE;
        box-shadow: 0 0 8px rgba(77, 144, 254, 0.6);
    }

}



.da-amount-input .daamount-input .da-ant-form-item {
    margin-bottom: 20px;
    width: 100%;

    :not(:last-child) {}
}

.da-deposit-form-details {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.da-radio {

    width: 200px;
}

.da-ant-form {
    border: 3px solid #25384F;
    border-radius: 10%;
    padding: 1vh;
    background-color: RGB(92, 184, 92, 0.7);
    width: 660px;

    h3 {
        color: #25384F;
        font-size: 32px;
        margin: 16px;
    }
}

.ant-form-item-control-input-content {
    display: flex;
    justify-content: center;

    .ant-btn {
        margin: 10px;
        background-color: #25384F;
        color: white;

    }
}

.da-btn {

    margin: 10px;
    background-color: #25384F;
    color: white;
    transition: transform 0.2s ease-in-out;

    :hover {
        transform: scale(1.1);
    }
}