.dashboard-wrapper {
    height: calc(100vh - 32px - 48px - 18px);
    border-radius: 10px;
    box-sizing: border-box;

    .dashboard-greeting {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        &-greet {
            margin: 0;
            padding: 0;
            font-size: 28px;
            font-weight: 600;
            color: #25384F;
        }

        &-date {
            margin: 0;
            padding: 0;
            font-weight: 400;
            color:#6e6d7a;
        }
    }

    .content-wrapper {
        margin-top: 25px;
        display: flex;
        gap: 25px;
        height: 50%;
        
        .content-info-wrapper {
            width: 50%;
            border: 1px solid black;
        }

        .donut-wrapper {
            width: 50%;
            border: 1px solid blue;
        }
    }



}
