.dashboard-wrapper {
    height: calc(100vh - 32px - 48px - 18px);
    border-radius: 10px;
    box-sizing: border-box;

    .dashboard-greeting {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        &-greet {
            margin: 0;
            padding: 0;
            font-size: 28px;
            font-weight: 600;
            color: #25384F;
        }

        &-date {
            margin: 0;
            padding: 0;
            font-weight: 400;
            color:#6e6d7a;
        }
    }

    .content-wrapper {
        margin-top: 15px;
        width: 100%;
        display: flex;
        gap: 10px;


        .accounts-data {
            height: 82vh;
            width: 50%;
            border: 1px solid blue;

            .profile-card-expense {
                display: flex;
                width: 50%;
                height: 25vh;
                border-radius: 10px;
                background-color: #25384F;
                color: white;

                a {
                    color: white;
                }

                &-text {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 50%;
                    color: white;

                    p {
                        font-size: 16px;
                        font-weight: 600;
                        letter-spacing: 1px;
                        padding-bottom: 0px;
                        margin-bottom: 0px;
                    }

                    h2 {
                        font-weight: 900;
                        font-size: 22px;
                        letter-spacing: 2px;
                        margin-top: 0px;
                        text-decoration: underline;
                    }
                }
                &-image-wrapper {
                    background-color: #25384F;
                    width: 50%;
                    border-radius: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img {
                        width: 70%;
                        height: 70%;
                    }
                }
            }
        }
    }


}


.intro  {
   
    padding: 2px;
    border-radius: 10px;
    width: 50%;
    height: 82vh;
    display: flex;
    flex-direction: column;
    gap: 15px;
    
    
    div.intro-amount {
        // border: 3px solid purple;
        border-radius: 10px;
        // height: 300px;
        height: 40vh;
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
        & > div {
            width: 50%;
        }

        .card-info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &-title {
                font-size: 24px;
                font-weight: 800;
                letter-spacing: 1px;
                padding-left: 15px;
                margin-bottom: 0px;
                text-align: center;
                color: #25384F;
                cursor: pointer;
            }

            &-amount, &-frozen-amount {
                cursor: pointer;
                padding: 10px 25px;
                text-align: center;
                font-weight: 700;
                font-size: 22px;
                border-radius: 10px;
                background-color: #5CB75C;
                color: whitesmoke;
            }

            &-frozen-amount {
                background-color: #85C3E9;
            }
        }
    }

    
    .donut-wrapper {
        padding: 3px 5px 3px 3px;
        width: 100%;
        height: 100%;
        cursor: pointer;
        border-radius: 10px;

        .ft-donut-no-accounts {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5)
        }

        .ft-donut-no-accounts-heading {
            text-align: center;
        }
    }
     
}
// #25384F