div.filter-wrapper {
    display: flex;
    align-items: center;
    gap: 25px;
}

.ft-report-cards {
    .ft-report-cards-expense {
        display: flex;
        gap: 25px;
    }
}

.ft-title-reports {
    margin: 0px;
}

.ft-title-reports:first-child {
    margin-bottom: 5px;
}