div.filter-wrapper {
    display: flex;
    align-items: center;
    gap: 25px;
}

.ft-report-cards {
    .ft-report-cards-expense {
        display: flex;
        gap: 25px;
    }
}

.ft-title-reports {
    font-size: 24px;
    margin: 0px;
    color: #25384F;
}

.wrapper-title {
    color: #25384F;
    border-bottom: 7px solid #5BB75E;
}

.ft-title-reports:first-child {
    margin-bottom: 5px;
}