.report-card-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 250px;
    border-radius: 10px;
    background-color: #25384F;

    .report-card-title {
        color: white;
        font-size: 22px;
        font-weight: 600;
        letter-spacing: 2px;
    }
}