#ft-sider-menu.ft-sider-menu {
    height: 100vh;
    max-height: 100vh;
    position: sticky;
    top: 0px;
    left: 0px;

    .logo-wrapper {
        height: 32;
        margin: 16;
        background: 'rgba(255, 255, 255, 0.2)';
        display: flex;
        justify-content: center;
    
        &-logo {
            margin: auto;
            width: 90%;
            height: 100%;
        }
    }

    .ft-accounts-link {
        color: white;
    }
}
